<!doctype html>
<html>
    <head>
        <title>Blogz</title>
        <style>
            .error {
                color: red;
            }
            .topnav-right{
                float:right;
                display:block;
                text-align:center;
                width:50%;
                font-size: 25px;
            }
            .topnav-left{
                display: block;
                font-size: 25px;
            }

        </style>
         <nav>
             <div class='topnav-left'>
                 <a href='/'> Home</a>
                 <a href='/blog'>All Posts</a>
                 <a href='login'>New Posts</a>
             </div>
            
             <div class ='topnav-right'>
                 <a href='/login'>Login</a>
                 <a href='/logout'>Logout</a>
             </div>
             
        </nav>
    </head>
<body>
    <h1><strong>{{description}}</strong></h1>

    

    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="{{category}}"> {{message}}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>